.container{
    width: 70%;
    margin: 20px auto;
}

.main-ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    gap: 4rem;
}

.main-ul .main-li{
    padding: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    width: 380px;
    height: 200px;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: all .3s ease;
    cursor: pointer;
}

.main-ul .main-li:hover{
    transform: scale(1.03)
}

.categories-names{
    font-size: 1.1rem;
    font-weight: 700;
    color: #dc2f2f;
}

.prod-qvty{
    font-size: 0.8rem;
    font-weight: 600;
    color: #a2c11c;
}