{% extends 'base.html' %}
{% block title %}Add Product{% endblock %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'core/css/index.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    <nav>
        <ul class="main-ul">
        {% for category in categories %}
            <li class="main-li">
                <a href="{% url 'core:categories_details' category.name %}"
                   class="categories-names"
                   data-icon="{{ category.name }}">
                    {{ category.name }}
                    <span class="prod-qvty">{{ category.product_count }} products</span>
                </a>
            </li>
        {% endfor %}
        </ul>
    </nav>
</div>
{% endblock %}
