{% extends 'base.html' %}
{% block title %}Product update{% endblock %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/add_product.css' %}">
{% endblock %}
{% block content %}
<form method="POST" class="custom-form">
    {% csrf_token %}

    <div class="custom-form-group">
        <label>Name</label>
        {{ form.name }}
    </div>

    <div class="custom-form-group">
        <label>Description</label>
        {{ form.description }}
    </div>

    <div class="custom-form-group">
        <label>Price</label>
        {{ form.price }}
    </div>

      <div class="custom-form-group">
          <label>Quantity</label>
          {{ form.quantity }}
      </div>

    <div class="custom-form-group">
        <label>Category</label>
        {{ form.category }}
    </div>

    <button type="submit" class="custom-btn">Update Product</button>
  </form>
{% endblock %}